/* Navbar */

// bootstrap variables and function
// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
.navbar {
    .nav-item {
        input {
            padding-right: 35px;
        }
        .search {
            .search-icon {
                right: 10px;
                top: 20%;
            }
        }
        .nav-link {
            @include transition;
            color: $secondary !important;
            font-weight: 500;
            font-size: $spacer * 1.1;
            &:hover,
            &.active {
                color: $primary !important;
                font-weight: bold;
            }
        }
    }
}