@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
$background-color: #f1f1f1;
$font-family: Nunito,
"serif";
$black: #000;
$white: #fff;
$nav-item-color: #101730;
$primary: #008c8c;
$secondary: $nav-item-color;
$spacer: 1rem;